/target
.vscode/
*.sublime-*
!.github

# python
.venv
wheels/
dist/py/build.sh

# lua
dist/lua/*.so

# js
node_modules/
package-lock.json
index.d.ts
index.node

# java
dist/java/*.iml
dist/java/.idea/
dist/java/*.h
dist/java/**/*.class
dist/java/build/
dist/java/.classpath
dist/java/.gradle/
dist/java/.project
dist/java/.settings/
dist/java/bin/

# intellij insists on creating the wrapper every time even if it's not strictly necessary
dist/java/gradle/
dist/java/gradlew
dist/java/gradlew.bat
