name: build+test

on:
  push:
    branches:
      - dev

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        features:
          - rust
          - lua
          - java
          - js
          - python
        toolchain:
          - stable
        #  - beta
        #  - nightly
        # TODO should re-enable future toolchains so we get warnings on breaking changes
    steps:
      - uses: arduino/setup-protoc@v2
      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.ACTIONS_SSH_DEPLOY_KEY }}
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose --features=${{ matrix.features }}
      - run: cargo test --verbose --features=${{ matrix.features }}
