name: lua

on:
  push:
    branches:
      - ci
      - stable

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-latest
            target: linux-x64-gnu
            filename: libcodemp.so
          - runner: windows-latest
            target: win32-x64
            filename: codemp.dll
          - runner: macos-14
            target: darwin-arm64
            filename: codemp.dylib
          #- runner: macos-12
          #  target: darwin-x64
          #  filename: codemp.dylib
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: arduino/setup-protoc@v3
      - run: cargo build --release --features=lua
      - uses: actions/upload-artifact@v4
        with:
          name: codemp-lua-${{ matrix.platform.target }}
          path: target/release/${{ matrix.platform.filename }}
