name: rust

on:
  push:
    branches:
      - ci
      - stable

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: arduino/setup-protoc@v3
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo publish
